<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center mt-3">Add Products</h2>
        <form
          action="/admin/add-product"
          method="post"
          enctype="multipart/form-data"
          class="mt-5"
        >
       
          <label for="" style="font-weight: bold;">Name</label>
          <input type="text" name="Name" class="form-control" />

          <label for="" style="font-weight: bold;">Category</label>
          <input type="text" name="Category" class="form-control" />

          <label for="" style="font-weight: bold;">Description</label>
          <input type="text" name="Description" class="form-control" />

          <label for="" style="font-weight: bold;">Size</label>
          <input type="text" name="Size" class="form-control" />

          <label for="" style="font-weight: bold;">Price</label>
          <input type="text" name="Price" class="form-control" />
          

          <label for="" style="font-weight: bold;">Image</label>
          <input type="file" name="Image" class="form-control" />

  
            <button style="width: 30%;"
            type="submit"
            class="btn btn-primary mt-3"
          >Add</button>
          
        </form>
      </div>
    </div>
  </div>
</section>