<section id="addCat">
    <div class="brand">
        <form action="/admin/add-category" method="post">
            <h3>Add New Category</h3>
            <input type="text" name="Name" placeholder="Add New Category"><br>
            <input type="text" name="Sname" placeholder="Add New Sub Category"><br>
            <button type="submit">Add</button> 
        </form>
    </div>
</section>
