<section id="dashboard">
    <h3 class="head">Dashboard</h3>
    <div class="container">
    <div class="values">
        <div class="val-box">
            <i class="fas fa-users"></i>
            <div>
                <h3>452</h3>
                <span>Total Users</span>
            </div>
        </div>
    </div>
    <div class="values">
        <div class="val-box">
          <i class="fas fa-truck"></i>
            <div>
                <h3>782</h3>
                <span>Total Orders</span>
            </div>
        </div>
    </div>
    <div class="values">
        <div class="val-box">
           <i class="fas fa-tshirt"></i>
            <div>
                <h3>756</h3>
                <span>Total Product</span>
            </div>
        </div>
    </div>
    <div class="values">
        <div class="val-box">
           <i class="fas fa-rupee-sign"></i>
            <div>
                <h3>452</h3>
                <span>Total Revenue</span>
            </div>
        </div>
    </div>
    </div>
</section>