{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Hi Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">All Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Orders</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">All Users</a>
      </li>
    </ul>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Admin
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="admin/admin-login">Login</a>
  </div>
</div>
      
  </div>
</nav>
 --}}


<section id="admin-header">

<div class="sidebar close">
  <div class="logo">
    <span class="logo-name">YOK, Hi Admin</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/admin">
        <i class="fas fa-laptop"></i>
        <span class="link-name">Dashboard</span>
      </a>
    </li>
    <li>
      <div class="iocn-link">
        <a href="">
          <i class="fas fa-users"></i>
          <span class="link-name">User Management</span>
        </a>
       <i class="fas fa-angle-down"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link-name" href=""> User Management</a></li>
        <li><a href="admin/view-user">View User</a></li>
        <li><a href="admin/blocked-users">Blocked User</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="">
         <i class="fas fa-tshirt"></i>
          <span class="link-name">Product Management</span>
        </a>
       <i class="fas fa-angle-down"></i>
      </div>
       <ul class="sub-menu">
        <li><a class="link-name" href=""> Product Management</a></li>
        <li><a href="/admin/view-products">View Product</a></li>
        <li><a href="/admin/add-product">Add Product</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="">
        <i class="fas fa-rupee-sign"></i>
          <span class="link-name">Offer Management</span>
        </a>
       <i class="fas fa-angle-down"></i>
      </div>
       <ul class="sub-menu">
        <li><a class="link-name" href="">Offer Management</a></li>
        <li><a href="/admin/product-offer">Product Offer</a></li>
        <li><a href="">Category Offer</a></li>
        <li><a href="/admin/coupon-offer">Coupon Offer</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="">
        <i class="fas fa-paste"></i>
          <span class="link-name">Report</span>
        </a>
       <i class="fas fa-angle-down"></i>
      </div>
       <ul class="sub-menu">
        <li><a class="link-name" href="">Report</a></li>
        <li><a href="">Product Report</a></li>
        <li><a href="">Order Report</a></li>
        <li><a href="">Sales Report</a></li>
      </ul>
    </li>
     <li>
      <a href="admin/view-category">
      <i class="fas fa-globe"></i>
        <span class="link-name">Category Management</span>
      </a>
    </li>
     <li>
      <a href="">
       <i class="fas fa-images"></i>
        <span class="link-name">Banner Management</span>
      </a>
    </li>
     <li>
      <a href="admin/view-brand">
       <i class="fas fa-tag"></i>
        <span class="link-name">Brand Management</span>
      </a>
    </li>
     <li>
      <a href="">
     <i class="fas fa-sign-out-alt"></i>
        <span class="link-name">Logout</span>
      </a>
    </li>
  </ul>
</div>


<div id="navbar">
  <div class="nav">
    <div class="n1">
      <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search">
      </div>
    </div>
    <div class="profile">
      <i class="fas fa-bell"></i>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1xLM6RcxrTsEnhGcJ7fG1gtSrm4iaQkbouA&usqp=CAU" alt="">
    </div>
  </div>
</div>
</section>

