* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    width: 100%;
}



/* **********Admin Header********** */

#admin-header {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 183, 255);
    height: 100%;
    width: 350px;
}
.sidebar .logo {
    height: 60px;
    width: 100%;
    align-items: center;
    padding: 45px 50px   15px 50px;
}
.sidebar .logo .logo-name {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
}
.sidebar .nav-links {
    height: 100%;
    padding-top: 55px;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
    padding-bottom: 30px;
}
.sidebar .nav-links li:hover {
    background: rgb(3, 109, 151);
}
.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}
.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link-name {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: rgb(3, 109, 151);
    /* display: none; */
}
.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}
.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;

}
.sidebar .nav-links li .sub-menu .link-name {
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link-name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

#navbar {
    width: calc(98% - 300px);
    height: 11vh;
    background-color: rgb(61, 191, 243);
    position: fixed;
    margin-left: 350px;
}
#navbar .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px; 
} 
#navbar .nav .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    background: #fff;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}
#navbar .nav .search i {
    margin-right: 14px;
    /* color: #fff; */
}
#navbar .nav .search input {
    border: none;
    outline: none;
    font-size: 16px;
}
#navbar .nav .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-right: 15px;    */
    margin: 20px 15px 20px 0; 
}
#navbar .nav .profile  i {
    margin-right: 14px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
#navbar .nav .profile img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}


/* **********Admin Header End********** */



/* **********Dashboard********** */



#dashboard {
    position: fixed;
    top: 15%;
    left: 30%;
    
}
#dashboard .head {
    color: #444a53;
    padding: 30px 30px 0 30px;
    margin-left: 20px;
    
}
#dashboard .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dashboard .values {
    padding: 30px 30px 0 30px;
}
#dashboard .values .val-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #eeeded;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
}
#dashboard .values .val-box i {
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    align-items: center;
    padding-left: 13px;
    margin-right: 18px;
    background: rgb(3, 109, 151);
}
/* #dashboard .values .val-box:nth-child(1) i {
    background: #7B74EC;
}
#dashboard .values .val-box:nth-child(2) i {
    background: #5C8AF0;
}
#dashboard .values .val-box:nth-child(3) i {
    background: #E45D99;
}
#dashboard .values .val-box:nth-child(4) i {
    background: #74daec;
} */
#dashboard .values .val-box h3 {
    font-size: 20px;
    font-weight: 600;
}
#dashboard .values .val-box span {
    font-size: 18px;
    color: #828997;

}


/* **********Dashboard End********** */




/* **********User-View********* */

#all-users {
    position: fixed;
    top: 15%;
    left: 30%;
    width: 85%;
}
#all-users h3 {
    font-weight: 600;
}
#all-users  .board{
    width: 70%;
    margin: 50px 0 30px 0;
    background: #f0f0f0;
    overflow: auto;
    border-radius: 8px;
    padding: 30px;
}
#all-users  .board i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgb(3, 109, 151);
    color: #fff;
    text-align: center;
    padding: 13px 0;

}
#all-users  .board h5 {
    font-size: 14px;
    font-weight: 600;
}
#all-users  .board h5 p {
    font-size: 13px;
    font-weight: 400;

}
#all-users  .board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    padding-top: 15px;
}
#all-users  .board .people .p-details {
    margin: 20px 0 5px 18px;
}
#all-users table {
    border-collapse: collapse;

}
/* #all-users tr {
    border-bottom: 1px solid #444a53;
} */
#all-users thead td {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    background: #F9FAFB;
    padding: 5px;
    text-align: start;
}
#all-users tbody tr td {
    padding: 10px 15px;
}
#all-users .phone p {
    font-size: 16px;
}
#all-users .status p {
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 30px;
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 600;
}
#all-users .action a {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    text-decoration: none;
    background: red;
    padding: 10px 10px;
    color: #fff;
    text-align: center;
    font-size: 16px;
   
}
#all-users .action .unblock {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    text-decoration: none;
    background: green;
    padding: 10px 10px;
    color: #fff;
    text-align: center;
    font-size: 16px;

}



/* **********User-View End********* */











