* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    width: 100%;
}

/************Navbar**************/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(38, 97, 114);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.523);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header h1 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 15px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
}
/* #header img {
    width: 60px;
    height: 60px;
    
} */
#nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav1 li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#nav1 li a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    color: #d3d6d6;
    transition: 0.4s ease;
}
#nav1 li a:hover,
#nav1 li a.active {
    color: #b5da3b;
    font-weight: bold;
    font-size: 26px;
}
#nav1 li a.active::after,
#nav1 li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #b5da3b;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/* .second nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
#nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav2 li{
    list-style: none;
    padding: 0 40px;
    position: relative;
}
#nav2 #cart-count {
    color: white;
    position: absolute;
    text-align: center; 
    font-size: 18px;
    bottom: 25px;     
}
#nav2 #whishlist-count {
    color: white;
    position: absolute;
    text-align: center; 
    font-size: 19px;
    font-weight: 700;
    bottom: 20px;  
}
#nav2 li a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    color: #d3d6d6;
    transition: 0.3s ease;
    position: absolute;
}
#nav2 li a:hover {
    color: #b5da3b;
}
.userhead {
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.userhead .avtar-head{
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    color: #d3d6d6;
    transition: 0.3s ease;
    
}
.userhead span {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #d3d6d6;
    transition: 0.3s ease;
}
.userhead span:hover {
    cursor: pointer;
}
.userhead .avtar-head:hover{
    color: #b5da3b;
    cursor: pointer;

} 
.userhead .menu {
    position: absolute;
    align-items: center;
    top:70px;
    background-color:rgb(49, 41, 41);
    width: 90px;
    border-radius: 5px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1) ;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

}
.userhead .menu.active{
    visibility: visible;
    opacity: 1;
}
.userhead .menu a {
    color: white
}
.userhead .menu ul li{
    list-style: none;
    text-decoration: none;
}
/* .userhead .menu::before{
    content: "";
    position: absolute;
    top: -10;
    right: -10;
    width: 15px;
    height: 10px;
    background-color:rgb(49, 41, 41);
    transform: rotate(45deg);
} */
.userhead .menu ul li a {
    display: inline-block;
    font-weight: 400;
    transition: 0.5s;       
}
.userhead .menu ul li a:hover{
    color: #06b3b3;
    text-decoration: none;
}
#mobile {
    display: none;
}
#close {
    display: none;
}

/************Navbar End**************/





/* ***********Home Page************ */

#hero {
    position: relative;
}
#hero .hero-head {
    position: absolute;
    top: 18%;
    left: 13%;
}
#hero .hero-head h1 {
    font-size: 8em;
    font-weight: bold;
    letter-spacing: 25px;
    color: transparent;
    -webkit-text-stroke: 3px rgba(255,255,255,0.3);
}
#hero .hero-head h1::before {
    content: attr(data-text);
    color: transparent;
    width: 0;
    overflow: hidden;
    transition: 3s;
}
#hero .hero-head h1:hover::before {
    width: 100%;
    -webkit-text-stroke: 3px #fff;
}
#hero .hero-head button {
    margin: 170px 20px 0 80px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
    color: transparent;
    background: none;
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
    border: none;
}
#hero .hero-head button:focus {
    outline: none;
} 
#hero .hero-head h3 {
    margin: 120px 100px 0 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
}

/* #hero{  
  background-image: url("/homecover/cover.jpg");  
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 20% right 0;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
    font-size: 30px;
    padding-left: 15px;
    color: rgb(126, 211, 245);
}
#hero h2 {
    font-size: 60px;
    padding-left: 20px;
    color: rgb(126, 211, 245);
}
#hero h1 {
    font-size: 70px;
    padding-left: 25px;
    color: #8ccff3

}
#hero p {
    font-size: 20px;
    padding-left: 80px;
    color: #b1b1b1;
}
#hero button {
    width: 120px;
    height: 45px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 20px;
    background: white;
    color:#6fc3f0;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}
#hero button:hover{
    color: white;
    background: #6fc3f0;
} */


#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 80px;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    cursor: pointer;
}
#feature .fe-box img {
    width: 125px;
    height: 100px;
    margin-bottom: 10px;
    
}
#feature .fe-box h6 {
    display: inline-block;
    padding: 10px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #005d5d;
    background-color: #fddde4;
    font-weight: bold;
}
#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6
}
#feature .fe-box:nth-child(6) h6 {
    background-color: #ffdfbf;
}
#products {
    padding: 40px 80px;
    text-align: center;
    background-color: rgb(241, 238, 238);
}
#products .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#products h2 {
    font-weight: bolder;
    font-size: 46px;
    line-height: 54px;
    color: #191c1d;
    background-color: rgb(155, 151, 151);
}
#products p {
    font-size: 18px;
    color: #5f5f5f;
    text-decoration: underline; 
}
#products .pro {    
    width: 23%;
    min-height: 700px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cee7d0;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
    transition: 0.3s ease;
}
#products .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);  
}
#products .pro img{
    width: 90%;
    height: 70%;
    /* width: 350px;
    height: 480px; */
    border-radius: 15px;
    margin: 15px 10px;
}
#products .pro .des {
    text-align: start;
    /* padding: 10px 0px; */
    padding: 10px 0 10px 20px;
}
#products .pro .des span {
    color: #606063;
    font-size: 20px;
    font-weight: 700;
}
#products .pro .des h5 {
    padding-top: 10px;
    color: #464040;
    font-size: 20px;
    font-weight: 700;
}
#products .pro .des i {
    font-size: 15px;
    color: rgb(243, 181, 25 );
}
#products .pro .des h4 {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(38, 97, 114);
}
#products .offer {
    display: flex;
}
#products .offer .offrPer p {
    font-size: 14px;
    padding: 10px 5px 0px 10px;
    text-decoration: none;
    color: rgb(38, 97, 114);
}
#products .offer .offrPrc h4 {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 5px 0px 8px;
    text-decoration: none;
    color: rgb(38, 97, 114);
    text-decoration: line-through;
}
#products .pro .whlist {
    width: 45px;
    height: 45px;
    line-height: 40px;
    border-radius: 50px;    
    font-weight: 700;
    font-size: 20px;
    color: #eb0c0c;
    border: 1px solid #cce7d2; 
    position: absolute;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
}
#products .pro .whlist:focus {
    outline: none;
}
#products .pro .cart {
    width: 45px;
    height: 45px;
    line-height: 40px;
    border-radius: 50px;    
    font-weight: 500;
    color: #039BE5;
    border: 1px solid #cce7d2;
    position: absolute;
    bottom: 20px;
    right: 70px; 
    cursor: pointer;
}
#products .pro .cart:focus {
    outline: none;
}
#banner {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/banner/banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}
#banner h4 {
    font-size: 28px;
    padding-bottom: 12px;
    color: #c8cbcc;
}
#banner h2 {
    font-size: 35px;
    color: #c8cbcc;
    padding-top: 10px;
}
#banner button{
    width: 135px;
    height: 50px;
    margin-top: 10px;
    background: white;
    font-weight: bold;
    color:#6fc3f0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}
#banner button:hover {
    color: white;
    background: #6fc3f0;
    
}
#sm-banner {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#sm-banner .banner-box {
    position: relative;
    padding-top: 50px;
}
#sm-banner .banner-box img {
    width: 680px;
    height: 50vh;
  
}
#sm-banner .banner-condent {
    position: absolute;
    top: 15%;
    left: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}
#sm-banner .banner-condent h4 {
    color: #d1e8f2;
    font-size: 25px;
    font-weight: 500;
}
#sm-banner .banner-condent h2 {
    color: #d1e8f2;
    font-size: 25px;
    font-weight: bold;
}
#sm-banner .banner-condent button{
    width: 110px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;

}
#sm-banner .banner-condent button:hover{
    background-color: rgb(63, 145, 221);
}


#sm-banner .banner-condent2 {
    position: absolute;
    top: 25%;
    left: 48%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}
#sm-banner .banner-condent2 h4 {
    color: #d1e8f2;
    font-size: 25px;
    font-weight: 500;
}
#sm-banner .banner-condent2 h2 {
    color: #d1e8f2;
    font-size: 25px;
    font-weight: bold;
}
#sm-banner .banner-condent2 button{
    width: 110px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
}
#sm-banner .banner-condent2 button:hover{
    background-color: rgb(63, 145, 221);
}




#lst-banner {
    margin: 80px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #dbd8d8;
}
#lst-banner .img-banner {
    position: relative;
    padding-top: 50px;
    margin: 30px 0; 
}
#lst-banner .img-banner img {
    width: 400px;
    height: 30vh;
  
}
#lst-banner .banner-text {
    position: absolute;
    top: 60%;
    left: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}
#lst-banner .banner-text h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#lst-banner .banner-text h3 {
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#newsletter {
    margin: 40px 0;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #041e42;
    background-position: 20% 30%;
}
#newsletter h4 {
    font-size: 28px;
    font-weight: 700;
    color: white;
}
#newsletter p {
    font-size: 18px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span {
    color: #ffbd27;
}
#newsletter .form {
    display: flex;
    width: 40%;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button {
    background-color: #088178;
    color: white;
    width: 100px;
    white-space: nowrap;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter button:hover {
    cursor: pointer;
    background-color: #005d5d;
}




footer {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
footer img {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 700;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
} 
footer a {
    font-size: 16px;
   text-decoration: none;
   color: #222;
   margin-bottom: 10px;
   transition: 0.4s ease;
}
footer .social {
    margin-top: 20px;

}
footer .social i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.4s ease;
}
footer .install .row img {
    width: 170px;
    height: 60px;
    border:  1px solid #088178;
    border-radius: 6px;
}
footer .social i:hover {
    color: #088178;
    transform: scale(1.8); 
}
footer a:hover{
    color: #088178; 
    text-decoration: none; 
    transform: scale(1.1);   
}
footer .copyright {
    width: 100%;
    text-align: center;
}

/* *******Home Page End********** */






/**************  Login Form  **********/

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 120px 80px;
}
#login .log-box {
    width: 455px;
    height: 70vh;
    margin-top: 60px;
    border: 1px solid #e2e9e1;
    flex-wrap: wrap;
    padding: 80px;
    box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.3);
}
#login  .logo {
    width: 80px;
    margin: auto;
}
#login .logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}
#login .log-details {
    position: relative;
}
#login .log-details .logErr p {
    margin-left: 30px;
    color: rgb(173, 0, 0);
    font-size: 18px;
    font-weight: 700;
}
#login .log-details h3 {
    font-weight: 700;
    color: rgb(38, 97, 114);
    padding: 35px 0 25px 100px;
}
#login .log-details input {
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    border-width: 0 0 2px 0;
    border-color: #e2e9e1;

}
#login .log-details span {
    color: rgb(38, 97, 114);
    font-size: 22px;
    position: absolute;
    left: -10%;
    margin-top: 15px;
}
#login .log-details input:focus {
    border-color: rgb(38, 97, 114);
}
#login .log-details button {
    background-color: rgb(38, 97, 114);
    color: white;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;
}
#login .log-details button:hover {
    cursor: pointer;
    background-color: rgb(64, 143, 165);
}
#login .log-details button:focus {
    outline: none;
}
#login .log-details .forgot {
    padding: 5px 60px;
   
}
#login .log-box .signotp {
   /* padding: 20px 0 0 20px; */
   padding: 40px;
   display: flex;
   justify-content: space-between;

}
#login .log-box a {
    text-decoration: none;
    color: rgb(38, 97, 114);
    font-size: 17px;
    font-weight: 700;
}


/* .wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
}

.logo {
    width: 80px;
    margin: auto
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapper .form-field .fas {
    color: #555
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px
}

.wrapper .btn:hover {
    background-color: #039BE5
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4
}

.wrapper a:hover {
    color: #039BE5
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
} */

/**************  Login Form End **********/








/**************  signup Form  **********/

#signup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 80px;
}
#signup .register-details {
    width: 455px;
    height: 589px;
    margin-top: 60px;
    border: 1px solid #e2e9e1;
    padding: 40px;
    box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.3);
} 
#signup .register-details h3 {
    padding: 10px 0 15px 80px;
    font-weight: 700;
    color: rgb(38, 97, 114);
}
#signup .register-details input {
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    border-width: 0 0 2px 0;
    border-color: #e2e9e1;
}
#signup .register-details input:focus {
    border-color: rgb(38, 97, 114);
}
#signup .register-details button {
    background-color: rgb(38, 97, 114);
    color: white;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 60px;
}
#signup .register-details button:hover {
    cursor: pointer;
    background-color: rgb(64, 143, 165);
}
#signup .register-details button:focus {
    outline: none;
}
#signup .register-details .ac {
    margin: 20px 0 0 90px;
}
#signup .register-details  a {
    text-decoration: none;
    color: rgb(38, 97, 114);
}

/**************  signup  Form End **********/






/* ***************OTP*************** */

#verifyMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 150px 80px;
  
}
#verifyMobile .verify {
    width: 350px;
    height: 300px;
    border: 1px solid #e2e9e1;
    box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 55px;
    position: relative;
}
#verifyMobile .verify .invalid {
    position: absolute;
    top: 33%;
    left: 100px;
    color: red;
    font-weight: 600;
}
#verifyMobile .verify h3 {
    font-weight: 500;
    padding-bottom: 20px;
    color: rgb(38, 97, 114);
}
#verifyMobile .verify input {
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    border-width: 0 0 2px 0;
    border-color: #e2e9e1;
}
#verifyMobile .verify input:focus {
    border-color: rgb(38, 97, 114);
}
#verifyMobile .verify button {
    background-color: rgb(38, 97, 114);
    color: white;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
}
#verifyMobile .verify button:hover {
    cursor: pointer;
    background-color: rgb(64, 143, 165);
}
#verifyMobile .verify button:focus {
    outline: none;
}



#verifyOtp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 150px 80px;

}
#verifyOtp .verify {
    width: 350px;
    height: 350px;
    border: 1px solid #e2e9e1;
    box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 55px;
    position: relative;
}
#verifyOtp .verify .invalid {
    position: absolute;
    top: 28%;
    left: 100px;
    color: red;
    font-weight: 600;
}
#verifyOtp .verify h3 {
    font-weight: 500;
    padding-bottom: 20px;
    color: rgb(38, 97, 114);
}
#verifyOtp .verify input {
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    border-width: 0 0 2px 0;
    border-color: #e2e9e1;
}
#verifyOtp .verify input:focus {
    border-color: rgb(38, 97, 114);
}
#verifyOtp .verify button {
    background-color: rgb(38, 97, 114);
    color: white;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
}
#verifyOtp .verify button:hover {
    cursor: pointer;
    background-color: rgb(64, 143, 165);
}
#verifyOtp .verify button:focus {
    outline: none;
}
#verifyOtp .verify a {
    text-decoration: none;
    color: rgb(38, 97, 114);;
}



/* ***************OTP END*************** */








/* *********Cart Page*********** */

#cart {
    margin: 80px 80px;
    overflow-x: auto;
}
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img {
    width: 70px;
}
#cart .remove {
    color: rgb(64, 143, 165);;
    border: none;
    background: none;
    font-size: 20px;
    /* width: 30px;
    height: 30px;
    border: none;
    border-radius: 50px; */
    font-weight: 700;    
}
#cart .remove:hover {
    cursor: pointer;
}
#cart .remove:focus {
    outline: none;
}
#cart .quantity {
    margin: 0 15px;
    text-align: center;
    background-color: rgb(38, 97, 114);
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 25px;   
}
#cart .quantity:hover {
    cursor: pointer;
    background-color: rgb(64, 143, 165);  
}
#cart .quantity:focus {
    outline: none;   
}
#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)  {
    width: 150px;
    text-align: center;
}
#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 0;
}
#cart table tbody tr td {
    padding-top: 18px;
}
#cart table tbody td {
    font-size: 17px;
}

#cart-add {
    padding: 80px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon {
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3 {
    padding-bottom: 15px;
    font-weight: 600;
}
#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button {
    background-color: rgb(38, 97, 114);
    color: white;
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
#coupon button:hover {
    cursor: pointer;
    background-color: rgb(64, 143, 165);
}
#coupon button:focus {
    outline: none;
}
#coupon .used {
    color: red;
    margin: 10px 0 0 150px;
    display: none;
    /* display: none; */
}
#coupon .invalid {
    color: red;
    margin: 10px 0 0 150px;
    display: none;
}
#coupon .success {
    color :rgb(38, 97, 114);
    margin: 10px 0 0 150px;
    font-size: bold;
    display: none;
}
#coupon .expire {
    color: red;
    margin: 10px 0 0 150px;
    font-size: bold;
    display: none;
}
/* #coupon .expire {
    color: red;
    margin: 10px 0 0 150px;
    font-size: bold;
} */
#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal h3 {
    padding-bottom: 15px;
}
#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 17px;
}
#subtotal a {
    text-decoration: none;
    background-color: rgb(38, 97, 114);
    color: white;
    width: 350px;
    height: 150px;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 600;
}
#subtotal a:hover {
    cursor: pointer;
    background-color: rgb(64, 143, 165);
}

/* *********Cart Page*********** */




/* *********Cart Empty*********** */
#empty {
    width: 100%;
    height: 100vh;
}
#empty .container {
    width: 550px;
    height: 550px;
    border: 1px solid #e2e9e1;
    padding: 20px;
    margin-top: 150px;
}
#empty .container h3 {
    margin-left: 150px;
    color: rgb(38, 97, 114);
    font-size: 35px;
    font-weight: 700;
}
#empty .container img {
    width: 100%;
}
#empty .container h2 {
    font-size: 22px;
    margin-left: 120px;
    color: rgb(38, 97, 114);
    font-weight: bolder;
}
#empty .container span {
    margin: 15px 180px;
}
#empty .container a {
    text-decoration: none;
    background-color: #cce7d2;
    color: rgb(38, 97, 114);
    padding: 5px;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}





/* *********Cart Empty Ends*********** */






/* *********Whishlist********** */

#whishlist{
    margin: 80px 80px;
    overflow-x: auto;
}
#whishlist table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#whishlist .remove {
    color: rgb(64, 143, 165);;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 700;    
}

#whishlist table img {
    width: 70px;
}

#whishlist table td:nth-child(1) {
    width: 100px;
    text-align: center;
}
#whishlist table td:nth-child(2) {
    width: 150px;
    text-align: center;
}
#whishlist table td:nth-child(3) {
    width: 250px;
    text-align: center;
}
#whishlist table td:nth-child(4){
    width: 150px;
    text-align: center;
}
#whishlist table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#whishlist table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 0;
}
#whishlist table tbody tr td {
    padding-top: 18px;
}
#whishlist table tbody td {
    font-size: 17px;
}



/* *********Whishlist end********** */





/* ******Single Product******* */

#proDetails {
    padding: 40px 80px;
    display: flex;
    margin-top: 20xp;
}
#proDetails .single-pro-img {
    width: 40%;
    margin-right: 50px;
}
/* #proDetails .single-pro-img img {
    width: 100%;
    height: 100%;
} */
/* #proDetails  #image-zoom {
    width: 100%;
    height: 100%;
}
#proDetails #mainImg {
    width: 100%;
    height: 100%;
} */
.small-img-group {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
.small-img-col img {
    height: 210px;
    width: 100%;
}
#proDetails .single-pro-details {
    width: 50%;
    padding-top :30px;
}
#proDetails .single-pro-details h6 {
    font-weight: bold;
}
#proDetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}
#proDetails .single-pro-details h2 {
   font-size: 26px  ;
}
#proDetails .single-pro-details select {
    display: block;
    padding: 5px 10ox;
    margin-bottom: 10px;
}
#proDetails .single-pro-details .btn-wishlist {
    width: 110px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgb(51, 80, 51);
    color: white;
    cursor: pointer;
    transition: 0.4s ease; 
    margin-right: 10px; 
}
#proDetails .single-pro-details .btn-addtocart {
    width: 120px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #088178;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;  
}
#proDetails .single-pro-details .btn-wishlist,
#proDetails .single-pro-details .btn-addtocart:focus{
    outline: none;
}
#proDetails .single-pro-details select {
    width: 110px;
    height: 35px;
    color: black;
    margin: 30px 0;
    text-align: center;
}
#proDetails .single-pro-details select:focus {
    outline: none;
}
#proDetails .single-pro-details span {
    line-height: 25px;
}

/* ******Single Product End******* */





/* ********Place Order********* */

#checkout {
    padding: 80px 80px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}
#checkout  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#checkout .delivery-details {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 40px;
}
#checkout .delivery-details h3 {
    padding: 5px 0 15px 20px;
    font-weight: 600;
    color: rgb(38, 97, 114);
}
#checkout .delivery-details input {
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    border-width: 0 0 2px 0;
    border-color: #e2e9e1;
}
#checkout .delivery-details input:focus {
    border-color: rgb(38, 97, 114);
}
#checkout .delivery-details a {
    text-decoration: none;
    background-color: rgb(38, 97, 114);
    color: white;
    width: 350px;
    height: 150px;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 600;
}
#checkout .delivery-details a:hover {
    background-color: rgb(64, 143, 165);
}
#checkout #payment {
    width: 30%;
    height: 45vh;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
#checkout #payment h5 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    color: rgb(38, 97, 114);
}
#checkout #payment .pay h5 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
    color: rgb(38, 97, 114);
}
#checkout #payment  .pay label {
    font-size: 18px;
    padding-left: 15px;
}
#checkout #payment button {
    margin: 30px 0 0 12px;
    background-color: rgb(38, 97, 114);
    color: white;
    width: 130px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
#checkout #payment button:focus {
    outline: none;
}
#checkout #payment button:hover {
    cursor: pointer;
    background-color: rgb(64, 143, 165);
}
/* #checkout #payment input {
    font-size: 25px;
    margin-bottom: 20px;  
} */


/* ********Place Order End********* */








/* ********Auto Fill Address********* */

#address {
    padding: 80px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#address .delivery-details {
    width: 30%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 40px;
}
#address .delivery-details h3 {
    padding: 5px 0 15px 20px;
    font-weight: 600;
}
#address .delivery-details input {
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    border-width: 0 0 2px 0;
    border-color: #e2e9e1;
}
#address .delivery-details input:focus {
    border-color: rgb(38, 97, 114);
}
#address .delivery-details button {
    text-decoration: none;
    background-color: rgb(38, 97, 114);
    color: white;
    width: 130px;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
#address .delivery-details button:hover {
    background-color: rgb(64, 143, 165);
    cursor: pointer;
}
#address .delivery-details button:focus {
    outline: none;
    
}


/* ********Auto Fill Address End********* */








/************User Profile*************/

#user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 20px;
}
#user-profile .nav {
    flex-direction: column;
    width: 15%;
    height: 60vh;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 40px;
    background-color: rgb(38, 97, 114);
    color: #d3d6d6;
    box-shadow: 5px 15px 15px 0px rgb(38, 97, 114, 0.3);
}
#user-profile .nav .phn {
    display: none;
}
#user-profile .nav .user {
  font-size: 100px;
  padding-left: 50px;
  color: #d3d6d6;
}
#user-profile .nav h3 {
    margin: 20px 0 20px 50px;
}
#user-profile .nav ul {
   padding: 10px 0 10px 70px;
}
#user-profile .nav li {
    list-style: none; 
    margin-bottom: 40px;
}
#user-profile .nav li a {
    text-decoration: none;
    color: #d3d6d6;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}
#user-profile .nav li a:hover {
    color: #b5da3b;
    font-size: 15px;
}
#user-profile .profile {
    width: 40%;
    height: 70vh;
    border: 1px solid #e2e9e1;
    margin-bottom: 26px;
    background-color: rgb(38, 97, 114);
    box-shadow: 5px 15px 15px 0px rgb(38, 97, 114, 0.3);
    margin-left: 5px;
    padding: 40px;
    flex-wrap: wrap;
   
}
#user-profile .profile .new-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#user-profile .profile .new-add a {
    text-decoration: none;
    color: #d3d6d6;
    font-size: 18px;
    font-weight: 600;
}
#user-profile .profile h1 {
    color: #d3d6d6;
    font-weight: bold;

}
#user-profile .content {
    display: flex;
    padding-top: 60px;
}
#user-profile .content .address {
    width: 100%;
}
#user-profile .content h5 {
    color: #d3d6d6;
    font-weight: bold;
}
#user-profile .content p {
    padding-left: 40px;
    color: #d3d6d6;
    font-size: 18px;
}  
#user-profile .profile .edit-delete i {
    color: #d3d6d6;
    margin: 5px 15px;
    padding-bottom: 10px;
}

/************User Profile End*************/



/* 
#checkout {
    padding: 80px 80px;
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
#checkout form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#checkout .delivery-details {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 40px;
}
#checkout .delivery-details h3 {
    padding: 5px 0 15px 20px;
    font-weight: 600;
}
#checkout .delivery-details input {
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    border-width: 0 0 2px 0;
    border-color: #e2e9e1;
}
#checkout .delivery-details input:focus {
    border-color: rgb(38, 97, 114);
}
#checkout .delivery-details a {
    text-decoration: none;
    background-color: rgb(38, 97, 114);
    color: white;
    width: 350px;
    height: 150px;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 600;
}
#checkout .delivery-details a:hover {
    background-color: rgb(64, 143, 165);
} */






/*************Add New Adress***************/
 

#add-new-addrs {
    display: flex;
    justify-content: center;
    padding: 80px 80px;
    flex-wrap: wrap;
}
#add-new-addrs form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#add-new-addrs .address-details {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 40px;
}
#add-new-addrs .address-details h3 {
    padding: 20px 250px;
    font-weight: 600;
    color:  rgb(38, 97, 114);
    font-size: 30px;
}
#add-new-addrs .address-details input {
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    border-width: 0 0 2px 0;
    border-color: #e2e9e1;
}
#add-new-addrs .address-details button:focus {
    outline: none;
}
#add-new-addrs .address-details button {
    background-color: rgb(38, 97, 114);
    color: white;
    width: 300px;
    height: 50px;
    padding: 10px 10px;
    margin: 20px 250px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
#add-new-addrs .address-details button:hover {
    cursor: pointer;
    background-color: rgb(64, 143, 165);
}

/*************Add New Adress End***************/





/* ***************Forgot*************** */

#forgotMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 150px 80px;
}
#forgotMobile .verify {
    width: 350px;
    height: 380px;
    border: 1px solid #e2e9e1;
    box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 55px;
    position: relative;
}
#forgotMobile .verify .invalid {
    position: absolute;
    top: 33%;
    left: 100px;
    color: red;
    font-weight: 600;
}
#forgotMobile .verify h3 {
    font-weight: 500;
    padding-bottom: 20px;
    color: rgb(38, 97, 114);
}
#forgotMobile .verify input {
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    border-width: 0 0 2px 0;
    border-color: #e2e9e1;
}
#forgotMobile .verify input:focus {
    border-color: rgb(38, 97, 114);
}
#forgotMobile .verify button {
    background-color: rgb(38, 97, 114);
    color: white;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
}
#forgotMobile .verify button:hover {
    cursor: pointer;
    background-color: rgb(64, 143, 165);
}
#forgotMobile .verify button:focus {
    outline: none;
}






/* ********Orders Page******** */


#my-orders{
    margin: 50px 270px;
    overflow-x: auto;
    width: 70%;
}
#my-orders h3 {
    padding-bottom: 35px;
    margin-left: 80px;
    font-weight: 700;
}
#my-orders table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#my-orders table td:nth-child(1) {
    width: 250px;
    text-align: start;
}
#my-orders table td:nth-child(2) {
    width: 120px;
    text-align: center;
}
#my-orders td:nth-child(3) {
    width: 120px;
    text-align: center;
}
#my-orders td:nth-child(4){
    width: 150px;
    text-align: center;
}
#my-orders td:nth-child(5){
    width: 80px;
    text-align: center;
}
#my-orders table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#my-orders table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    padding: 18px 0;
}
#my-orders table tbody tr span i {
    margin: 0 14px;
    font-size: 16px;
    color: #828997;

}
#my-orders table tbody tr td {
    padding-top: 25px;
    padding-bottom: 25px;
}
#my-orders table tbody td {
    font-size: 18px;
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#my-orders table tbody tr:hover {
    background: rgb(230, 241, 244);
    transition: 0.6s ease;
}
#my-orders table tbody td a {
    color: rgb(38, 97, 114);
    text-decoration: none; 
}




/* ********Orders Page End******** */













/* ************Media Query**************** */

@media (max-width:799px) {

    #header h1 {
        font-size: 2em;
        font-weight: bold;
        letter-spacing: 15px;
        color: transparent;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    }
    
    #nav1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: -300px;
        height: 80vh;
        width: 300px;
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0 ,0.01);
        padding: 80px 0 0 20px;
        transition: 0.4s;
        
    }
    #nav1.active {
        left: 0px;
    }
    /* #header img {
        display: none;
    } */
    #nav1 li {
        margin-bottom: 28px;
    }
    #nav1 li a {
        color: #1a1a1a;
        font-weight: 600;
    }
    #hero .hero-head h1 {
        font-size: 5em;
        font-weight: bold;
        letter-spacing: 20px;
        color: transparent;
        position: relative;
        left: -20%;
        top: 10%;
    }
    #mobile {
        display: contents;
    }
    #mobile i {
        color: #d3d6d6;
        font-size: 23px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 25px;
        bottom: 15px;
        left: 40px;
        color: #1a1a1a;
        font-size: 28px;
    }
    /* #hero {
        padding: 0 80px;
        height: 70vh;
        background-position: top 30% right 30%;
    } */
    #feature {
        justify-content: center;
        padding: 40px 40px;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #products {
        padding: 20px 40px;
    }
    #products .pro-container {
        justify-content: space-between;
    }
    #products .pro {
        margin: 15px; 
        width: 45%;
        min-height: 550px;
    }
    #products .pro img {
        width: 95%;
        height: 65%;
        border-radius: 10px;
        margin: 5px 5px;
    }
    #products .offer {
        display: flex;
        flex-wrap: wrap;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box img {
        width: 480px;
        height: 30vh;
    }
    #sm-banner .banner-condent {
        top: 20%;
        left: 25px;  
    }
    #lst-banner {
        display: flex;
        background-color: #dbd8d8;
    }
    #lst-banner .img-banner {
        padding-top: 10px;
        margin: 15px 0;
    }
    #lst-banner .img-banner img {
        width: 200px;
        height: 15vh;
    }
    #lst-banner .banner-text h2 {
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    #lst-banner .banner-text h3 {
        color: white;
        font-size: 10px;
        font-weight: 600;
    }
    #newsletter .form {
        width: 70%;
    }
    /* Place Order */
    #checkout  form {
       width: 100%;
       flex-direction: column; 
     }
     #checkout .delivery-details {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #e2e9e1;
    }
    #checkout #payment {
        width: 100%;
        margin-top: 20px;
    }

    /* sign up form */

    #signup .register-details {
       margin-top: 100px;
    }
     

    /* User-Profile */

    #user-profile {
       padding: 100px 5px;
    }
    #user-profile .nav {
        flex-direction: column;
        width: 10%;
        height: 60vh;  
    }
    #user-profile .nav .user {
        display: none;
    }
    #user-profile .nav h3 {
        display: none;
    }
    #user-profile .nav ul {
        padding: 35px 5px;
        margin-left: -25px;
    }
    #user-profile .nav ul li {
        display: none;
    }
    #user-profile .nav ul .phn {
        display: contents;
        display: block;
        padding-bottom: 50px;
        font-size: 20px;
        color: #d3d6d6;
        padding-bottom: 100px;
    }
    #user-profile .profile {
        padding: 40px;
        margin-left: 1px;
        width: 80%;
    }

   
}



@media (max-width:477px) {
    #header {
        padding: 15px 30px;  
        position: sticky;  
    }
    .userhead {
       margin-left: 13px;
    }
    #mobile i {
        font-size: 20px;
    }
    #nav2 li a {
        font-size: 18px;
    }
    /* #hero {
        padding: 0 20px;
        background-position: left 35%
    }
    #hero h2 {
        font-size: 32px;
    }
    #hero h1 {
        font-size: 36px;
    }
    #hero p {
        margin-top: 75px;
        padding-left: 40px;
        color: #0a0a0a;
    }
    #hero button {
        width: 120px;
        height: 45px;
        font-weight: bold;
        position: absolute;
        bottom: 30%;
        right: 35%;        
    } */
    #feature {
        padding: 20px;
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 150px;
        margin: 0 0 15px 0;
    }
    #products {
        padding: 20px;
    }
    #products h2 {
        font-weight: bold;
        font-size: 30px;
    }
    #products .pro {
        width: 100%;
    }
    #banner {
        height: 35vh;
    }
    #sm-banner .banner-box img {
        width: 350px;
        height: 30vh;
    }
    #sm-banner .banner-condent2 h2 {
        font-size: 20px;
    }
    #sm-banner .banner-condent2 h4 {
        color: #d1e8f2;
        font-size: 18px;
        font-weight: 300;
    }
    #lst-banner .img-banner {
        padding-top: 5px;
        margin: 5px 0;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    footer {
        padding: 20px;
    }

    /* Single Product */
    #proDetails {
        display: flex;
        flex-direction: column;
        margin-top: 10xp;
    }
    #proDetails .single-pro-img {
        width: 100%;
        margin-right: 0px;
    }
    #proDetails .single-pro-details {
        width: 100%;
        display: flex;
        flex-direction: column; 
    }
    #proDetails .single-pro-details .btn-wishlist {
        margin: 20px 0;
    }
    /* cart */
    #cart-add {
        flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #coupon input {
        width: 100%;
    }
    #coupon button {
       margin: 10px 50px;
    }
    #subtotal {
        width: 100%;
        padding: 20px;
    }

    /* Place-Order */

    #checkout {
        padding: 5px 5px;
    }
    #checkout #payment {
        width: 100%;
        height: 50vh;
        margin-top: 20px;
    }


    /* sign up form */

    #signup .register-details {
        margin-top: 50px;
    }

     /* Login Form */

     #login {
        padding: 80px 10px;
      
    }
    #login  .logo {
        width: 70px;
        margin: auto;
        margin-right: 110px;
    }

    #login .log-box .signotp {
        padding: 25px;
    }

    /* user profile */

    #user-profile .nav {
       display: none;
    }
    #user-profile .profile {
        padding: 20px;
        margin-left: 1px;
        width: 100%;
        height: 70vh;
    }
    #user-profile .content {
        display: flex;
        padding-top: 60px;
    }

}



