* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    width: 100%;
}

/************Navbar**************/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(38, 97, 114);
    box-shadow: 0 5px 15px rgba(248, 57, 57, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header img {
    width: 60px;
    height: 60px;
    
}
#nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav1 li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#nav1 li a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    color: #d3d6d6;
    transition: 0.4s ease;
}
#nav1 li a:hover,
#nav1 li a.active {
    color: #039BE5;
    font-weight: bold;
    font-size: 26px;
}
#nav1 li a.active::after,
#nav1 li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #039BE5;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/* .second nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
#nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav2 li{
    list-style: none;
    padding: 0 40px;
    position: relative;
}
#nav2 li span {
    width: 25px;
    height: 25px;
    background: green;
    position: absolute;
    text-align: center; 
    border-radius: 35px;
    font-size: 18px;
   
    bottom: 20px;
}
#nav2 li a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    color: #d3d6d6;
    transition: 0.3s ease;
    position: absolute;
}
#nav2 li a:hover {
    color: #039BE5;
}
.userhead {
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.userhead .avtar-head{
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    color: #d3d6d6;
    transition: 0.3s ease;
    
}
.userhead span {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #d3d6d6;
    transition: 0.3s ease;
}
.userhead span:hover {
    cursor: pointer;
}
.userhead .avtar-head:hover{
    color: #039BE5;
    cursor: pointer;

} 
.userhead .menu {
    position: absolute;
    align-items: center;
    top:70px;
    background-color:rgb(49, 41, 41);
    width: 90px;
    border-radius: 5px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1) ;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

}
.userhead .menu.active{
    visibility: visible;
    opacity: 1;
}
.userhead .menu a {
    color: white
}
.userhead .menu ul li{
    list-style: none;
    text-decoration: none;
}
/* .userhead .menu::before{
    content: "";
    position: absolute;
    top: -10;
    right: -10;
    width: 15px;
    height: 10px;
    background-color:rgb(49, 41, 41);
    transform: rotate(45deg);
} */
.userhead .menu ul li a {
    display: inline-block;
    font-weight: 400;
    transition: 0.5s;       
}
.userhead .menu ul li a:hover{
    color: #06b3b3;
    text-decoration: none;
}
#mobile {
    display: none;
}
#close {
    display: none;
}






/* .navbar {
    background: #131313;  
    
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #fec400;
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s
}
.account{
    color: #0082be;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
}
.account:hover{
    background-color: #0082be;
    color: white;
} */

/************Navbar End**************/









/* ***********Home Page************ */





#hero{  
  background-image: url("/homecover/cover.jpg");  
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 20% right 0;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
    font-size: 30px;
    padding-left: 15px;
    color: rgb(126, 211, 245);
}
#hero h2 {
    font-size: 60px;
    padding-left: 20px;
    color: rgb(126, 211, 245);
}
#hero h1 {
    font-size: 70px;
    padding-left: 25px;
    color: #8ccff3

}
#hero p {
    font-size: 20px;
    padding-left: 80px;
    color: #b1b1b1;
}
#hero button {
    width: 120px;
    height: 45px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 20px;
    background: white;
    color:#6fc3f0;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}
#hero button:hover{
    color: white;
    background: #6fc3f0;
}


#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 80px;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    cursor: pointer;
}
#feature .fe-box img {
    width: 125px;
    height: 100px;
    margin-bottom: 10px;
    
}
#feature .fe-box h6 {
    display: inline-block;
    padding: 10px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #005d5d;
    background-color: #fddde4;
    font-weight: bold;
}
#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6
}
#feature .fe-box:nth-child(6) h6 {
    background-color: #ffdfbf;
}
#products {
    padding: 40px 80px;
    text-align: center;
    background-color: rgb(241, 238, 238);
}
#products .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#products h2 {
    font-weight: bolder;
    font-size: 46px;
    line-height: 54px;
    color: #191c1d;
    background-color: rgb(155, 151, 151);
}
#products p {
    font-size: 18px;
    color: #5f5f5f;
    text-decoration: underline; 
}
#products .pro {    
    width: 23%;  
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cee7d0;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
    transition: 0.3s ease;
}
#products .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);  
}
#products .pro img{
    width: 85%;
    /* width: 350px;
    height: 480px; */
    border-radius: 20px;
    margin: 15px 10px;
}
#products .pro .des {
    text-align: start;
    padding: 10px 0;
}
#products .pro .des span {
    color: #606063;
    font-size: 20px;
}
#products .pro .des h5 {
    padding-top: 10px;
    color: #1a1a1a;
    font-size: 20px;
}
#products .pro .des i {
    font-size: 15px;
    color: rgb(243, 181, 25 );
}
#products .pro .des h4 {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #535353;
}
#products .pro .whlist {
    width: 45px;
    height: 45px;
    line-height: 40px;
    border-radius: 50px;    
    font-weight: 500;
    color: #eb0c0c;
    border: 1px solid #cce7d2; 
    position: absolute;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
}
#products .pro .cart {
    width: 45px;
    height: 45px;
    line-height: 40px;
    border-radius: 50px;    
    font-weight: 500;
    color: #039BE5;
    border: 1px solid #cce7d2;
    position: absolute;
    bottom: 20px;
    right: 70px; 
    cursor: pointer;
}
#banner {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/banner/banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}
#banner h4 {
    font-size: 28px;
    padding-bottom: 12px;
    color: #c8cbcc;
}
#banner h2 {
    font-size: 35px;
    color: #c8cbcc;
    padding-top: 10px;
}
#banner button{
    width: 135px;
    height: 50px;
    margin-top: 10px;
    background: white;
    font-weight: bold;
    color:#6fc3f0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}
#banner button:hover {
    color: white;
    background: #6fc3f0;
    
}
#sm-banner {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#sm-banner .banner-box {
    position: relative;
    padding-top: 50px;
}
#sm-banner .banner-box img {
    width: 680px;
    height: 50vh;
  
}
#sm-banner .banner-condent {
    position: absolute;
    top: 15%;
    left: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}
#sm-banner .banner-condent h4 {
    color: #d1e8f2;
    font-size: 25px;
    font-weight: 500;
}
#sm-banner .banner-condent h2 {
    color: #d1e8f2;
    font-size: 25px;
    font-weight: bold;
}
#sm-banner .banner-condent button{
    width: 110px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;

}
#sm-banner .banner-condent button:hover{
    background-color: rgb(63, 145, 221);
}


#sm-banner .banner-condent2 {
    position: absolute;
    top: 25%;
    left: 48%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}
#sm-banner .banner-condent2 h4 {
    color: #d1e8f2;
    font-size: 25px;
    font-weight: 500;
}
#sm-banner .banner-condent2 h2 {
    color: #d1e8f2;
    font-size: 25px;
    font-weight: bold;
}
#sm-banner .banner-condent2 button{
    width: 110px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
}
#sm-banner .banner-condent2 button:hover{
    background-color: rgb(63, 145, 221);
}




#lst-banner {
    margin: 80px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #dbd8d8;
}
#lst-banner .img-banner {
    position: relative;
    padding-top: 50px;
    margin: 30px 0; 
}
#lst-banner .img-banner img {
    width: 400px;
    height: 30vh;
  
}
#lst-banner .banner-text {
    position: absolute;
    top: 60%;
    left: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}
#lst-banner .banner-text h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#lst-banner .banner-text h3 {
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#newsletter {
    margin: 40px 0;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #041e42;
    background-position: 20% 30%;
}
#newsletter h4 {
    font-size: 28px;
    font-weight: 700;
    color: white;
}
#newsletter p {
    font-size: 18px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span {
    color: #ffbd27;
}
#newsletter .form {
    display: flex;
    width: 40%;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button {
    background-color: #088178;
    color: white;
    width: 100px;
    white-space: nowrap;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter button:hover {
    cursor: pointer;
    background-color: #005d5d;
}




footer {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
footer img {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 700;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
} 
footer a {
    font-size: 16px;
   text-decoration: none;
   color: #222;
   margin-bottom: 10px;
   transition: 0.4s ease;
}
footer .social {
    margin-top: 20px;

}
footer .social i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.4s ease;
}
footer .install .row img {
    width: 170px;
    height: 60px;
    border:  1px solid #088178;
    border-radius: 6px;
}
footer .social i:hover {
    color: #088178;
    transform: scale(1.8); 
}
footer a:hover{
    color: #088178; 
    text-decoration: none; 
    transform: scale(1.1);   
}
footer .copyright {
    width: 100%;
    text-align: center;
}

























 


/* .card{
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    transition: transform .4s;
    width: 215px;
    height: 500px;
    
}
.card:hover{
    transform: translateY(-15px);
    transition: transform .4s;
}
h5{
    color: #039BE5;
    padding-top: 10px;
    font-weight: bold;
    
}
.text1{
    font-size: 18px;
    color: #888585;
    font-weight: 600;
}
.info{
    line-height: 37px;
}
.cost span{
    color: rgb(95, 94, 94);
    font-weight: bold;
    font-size: 20px;
}
.addtocart{
    height: 2rem;
    width: 8rem;
    border: none;
    border-radius: 15px;
    outline: none;
    font-weight: 400;
    font-size: 15px;
    background-color: #03A9F4;
    color: whitesmoke;
}
.addtocart:hover{
    background-color: #0082be;
   
}
.inner{
    overflow: hidden;
}
.inner img{
    width: 12rem;
    height: 13rem;
    transition: all .8s ease;
}
.inner:hover img{
    transform: scale(1.7);
} */


/* ***********Card Design End************ */









/**************  Login Form  **********/

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
}

.logo {
    width: 80px;
    margin: auto
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapper .form-field .fas {
    color: #555
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px
}

.wrapper .btn:hover {
    background-color: #039BE5
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4
}

.wrapper a:hover {
    color: #039BE5
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}

/**************  Login Form End **********/








/**************  signup Form  **********/

.row {
    width: 900px;
    border: none;
    border-radius: 0;
    box-sizing: border-box
}

.lcol {

    background: linear-gradient(to bottom, rgba(26, 111, 118, 1) 50%, rgba(40, 30, 101, 1) 100%, rgba(125, 185, 232, 1) 100%);
    height: 550px;
    padding: 0 35px
}

.rcol {
    background: #fff;
    padding: 80px;
    height: 550px
}

span.txt {
    color: #17C296
}

.greeting {
    padding-top: 200px;
    padding-right: 90px
}

h6.mt-3 {
    padding-right: 115px
}

.footer {
    margin-top: 220px
}

.footer span {
    color: #B0A1E2;
    font-size: 9px;
    cursor: pointer
}

.fab {
    color: #EDEDF5;
    font-size: 10px;
    margin-right: 20px;
    padding-top: 3px;
    cursor: pointer
}

h2.heading {
    font-weight: bold
}

.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #F2F2F2
}

.form-control::placeholder {
    font-size: 13px;
    color: #C2C2CC
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #F2F2F2
}

.fone input {
    padding-left: 20px
}

.fone {
    position: relative
}

.fone .fas {
    position: absolute;
    left: 0;
    top: 5px;
    padding: 8px 0px;
    color: #C2C2CC;
    font-size: 12px
}

.fone .image {
    position: absolute;
    left: 275px;
    top: 0px;
    cursor: pointer
}

.form-check-input {
    margin-top: 10px
}

.form-check-label {
    font-size: 9px;
    color: #C2C2CC
}

.addbtn {
    padding: 7px 40px   ;
    background: #11C892;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}

.btn-success:hover {
    background: #11C892
}

.btn-success:focus {
    box-shadow: none
}

u {
    cursor: pointer
}

p.exist {
    font-size: 13px;
    color: #C2C2CC
}

p.exist a {
    cursor: pointer;
    color: #4529f6;
    font-size: 13px;
}

@media screen and (max-width: 993px) {
    .fone .image {
        position: absolute;
        left: 180px
    }

    .footer {
        margin-top: 170px
    }
}

@media screen and (max-width: 768px) {
    .row {
        width: 450px
    }

    .rcol {
        padding: 60px 180px 60px 60px
    }
}

@media screen and (max-width: 420px) {
    .rcol {
        padding: 60px 50px 60px 50px
    }

    .footer {
        margin-top: 140px
    }
}

/**************  signup  Form End **********/










/* *********Cart Page*********** */

.cart-page{
    margin: 80px auto;
}
.cart-table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
.cart-head{
    text-align: left;
    padding: 7px;
    color: white;
    background: rgb(246, 95, 40);
    font-weight: bold;   
}
.cart-remove{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: white;
    background: rgb(246, 95, 40);
    text-align: center;
    font-size: 400;
   
margin-top: 10px;}
.cart-remove:hover{
    background: rgb(243, 124, 73);
}
.cart-td{
    padding: 10px 5px;
}
.cart-count{
    padding-left: 15px;
}
.cart-item-count{
    width: 25px;
}
.cart-img{
    width: 110px;
    height: 110px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid rgb(246, 95, 40);
    width: 25%;
    min-width: 350px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.order{
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
}
.order a{
    width: 105px;
    height: 32px;
    padding: 2px;
    color: white;
    background: rgb(246, 95, 40);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: none;
    border-radius: 5px;
    box-shadow: none;
    transition: all .5s ease;

}
.order a:hover{
    background: rgb(243, 124, 73);
    transform: scale(1.1);

}



/* *********Cart Page*********** */





/* ************Media Query**************** */

@media (max-width:799px) {
    #nav1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: -300px;
        height: 80vh;
        width: 300px;
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0 ,0.01);
        padding: 80px 0 0 20px;
        transition: 0.4s;
        
    }
    #nav1.active {
        left: 0px;
    }
    #header img {
        display: none;
    }
    #nav1 li {
        margin-bottom: 28px;
    }
    #nav1 li a {
        color: #1a1a1a;
        font-weight: 600;
    }
    #mobile {
        display: contents;
    }
    #mobile i {
        color: #d3d6d6;
        font-size: 23px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 25px;
        bottom: 15px;
        left: 40px;
        color: #1a1a1a;
        font-size: 28px;
    }
    #hero {
        padding: 0 80px;
        height: 70vh;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
        padding: 40px 40px;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #products .pro-container {
        justify-content: center;
    }
    #products .pro {
        margin: 15px; 
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box img {
        width: 480px;
        height: 30vh;
    }
    #sm-banner .banner-condent {
        top: 20%;
        left: 25px;  
    }
    #lst-banner {
        display: flex;
        background-color: #dbd8d8;
    }
    #lst-banner .img-banner {
        padding-top: 10px;
        margin: 15px 0;
    }
    #lst-banner .img-banner img {
        width: 200px;
        height: 15vh;
    }
    #lst-banner .banner-text h2 {
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    #lst-banner .banner-text h3 {
        color: white;
        font-size: 10px;
        font-weight: 600;
    }
    #newsletter .form {
        width: 70%;
    }
    
}



@media (max-width:477px) {
    #header {
        padding: 15px 30px;  
    }
    .userhead {
       margin-left: 13px;
    }
    #hero {
        padding: 0 20px;
        background-position: left 35%
    }
    #hero h2 {
        font-size: 32px;
    }
    #hero h1 {
        font-size: 36px;
    }
    #hero p {
        margin-top: 75px;
        padding-left: 40px;
        color: #0a0a0a;
    }
    #hero button {
        width: 120px;
        height: 45px;
        font-weight: bold;
        position: absolute;
        bottom: 30%;
        right: 35%;        
    }
    #feature {
        padding: 20px;
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 150px;
        margin: 0 0 15px 0;
    }
    #products {
        padding: 20px;
    }
    #products h2 {
        font-weight: bold;
        font-size: 30px;
    }
    #products .pro {
        width: 100%;
    }
    #banner {
        height: 35vh;
    }
    #sm-banner .banner-box img {
        width: 350px;
        height: 30vh;
    }
    #sm-banner .banner-condent2 h2 {
        font-size: 20px;
    }
    #sm-banner .banner-condent2 h4 {
        color: #d1e8f2;
        font-size: 18px;
        font-weight: 300;
    }
    #lst-banner .img-banner {
        padding-top: 5px;
        margin: 5px 0;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    footer {
        padding: 20px;
    }
    
    

    
    
}



