<section id="add-new-addrs">
    <form action="/add-new-profile-addrs" method="post">
         <div class="address-details">
        <h3>Add New Address</h3>
        <div>
                <input type="text" id="fname" name="Fname" placeholder="First Name"><br>
                <input type="text" id="lname" name="Lname" placeholder="Last Name"><br>
                <input type="text" id="house" name="House" placeholder="House"><br>
                <input type="text" id="town" name="Town" placeholder="Town"><br>
                <input type="text" id="phone" name="Phone" placeholder="Phone"><br>     
                <input type="text" id="pin" name="Pin" placeholder="Pin"><br>
                <input type="text" id="" name="userId" value="{{user._id}}" hidden>
                <div>
                <button type="submit">Add</button>
                </div>
        </div>  
    </div>
    </form>
</section>