<div class="container">
<div class="small-container cart-page">
    <table class="cart-table">
        <tr>
            <th class="cart-head">Product</th>
            <th class="cart-head">Quantity</th>
            <th class="cart-head">Price</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRznElFCba6n_yj-g_zjGwbRI-rfcPTGKnFdQ&usqp=CAU" alt="">
                    <div>
                        <p>T Shirt</p>
                        <small>Price : 100</small>
                        <button>Remove</button>
                    </div>
                </div>
            </td>
            <td>
                <button class="cart-item-count">-</button>2<button class="cart-item-count">+</button>
            </td>
            <td>100</td>
        </tr>
    </table>
</div>
</div>