<section id="empty">
    <div class="container">
        <h3>OOOPS...</h3>
        <div class="box">
            <img src="https://www.capshap.com/main_assets/images/emptycart.png" alt="">
        </div>
        <h2>YOUR  CART IS EMPTY</h2>
        <span><a href="/">Continue Shopping</a></span>
    </div>
</section>