<section id="verifyMobile">
    <div class="verify">
        <form action="/resetPswd" method="post">
            <h3>Mobile Verification</h3>
            <input type="text" name="mobile" placeholder="Enter Your Mobile No:"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>