<div class="wrapper">
  <div class="logo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsknnF7jnlbmAf3aazRP8nkR4JJqJIfNe-Zw&usqp=CAU"
      alt=""
    />
  </div>
  <div class="text-center mt-4 name"> Login </div>
  <form action="/login" method="post" class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="email" name="Email" placeholder="User Email" />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="Password" placeholder="Password" />
    </div>
    <button type="submit" class="btn mt-3">Login</button>
  </form>
  <div class="text-center fs-6">
    <a href="#">Forget password?</a>
    or
    <a href="/signup">Sign up</a>
  </div>
</div>