<section id="verifyOtp">
    <div class="verify">
        <form action="/otp" method="post">
            <h3>OTP Verification</h3>
            <input type="text" name="otp" placeholder="Enter Your OTP"><br>
            <div>
                <a href="resend-otp">Resend OTP</a>
            </div>
            <button type="submit">Validate</button> 
        </form>
    </div>
</section>