{{!-- <section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">
                <div class="class col-md-6">
                    <h2>Enter Delivery Details</h2><br>
                    <div>
                        <input class="form-control" type="text" id="address" name="address" placeholder="Address">

                        <input class="form-control" type="text" id="mobile" name="mobile" placeholder="Mobile Number">

                        <input class="form-control" type="text" id="pincode" name="pincode" placeholder="Pincode">

                        <input class="form-control" type="text" id="" name="userId" value="{{user._id}}" hidden>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-5 checkout">
                        <h5>Total : Rs - {{total}}</h5>
                        <hr>
                        <div class="payment">
                           <p>Payment</p>                       
                            <label class="radio-inline">
                                <input type="radio" name="payment-method" value="COD" checked>COD
                            </label>
                            <br>    
                            <label class="radio-inline mt-2">
                                <input type="radio" name="payment-method" value="ONLINE">Online Payment
                            </label>
                            <button class="btn btn-success float-right" type="submit">Checkout</button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section> --}}

<Section id="checkout">
     <form action="" id="checkout-form">
    <div class="delivery-details">
        <h3>Fill Address</h3>
        <div>
            {{!-- <form action="" > --}}
                <input type="text" id="fname" name="Fname" placeholder="First Name"><br>
                <input type="text" id="lname" name="Lname" placeholder="Last Name"><br>
                <input type="text" id="house" name="House" placeholder="House"><br>
                 <input type="text" id="town" name="Town" placeholder="Town"><br>
                <input type="text" id="phone" name="Phone" placeholder="Phone"><br>     
                <input type="text" id="pin" name="Pin" placeholder="Pin"><br>
                <input type="text" id="" name="userId" value="{{user._id}}" hidden>
                <a href="">Edit Address</a>
            {{!-- </form> --}}
        </div>
        
    </div>
    <div id="payment">
        <div>
            <h5>Total Amount For Pay : <strong>963</strong></h5>
            <hr>
        </div>
        <div class="pay">
            <h5>Payment Method</h5>
            <label class="radio-inline">
                 <input type="radio" name="payment-method" value="COD" checked> COD
             </label>
             <br>    
            <label class="radio-inline mt-2">
                 <input type="radio" name="payment-method" value="ONLINE"> Razor Pay
            </label>
             <br>    
            <label class="radio-inline mt-2">
                 <input type="radio" name="payment-method" value=""> Pay Pal
            </label>
        </div>
         <button type="submit">Checkout</button>
    </div>
     </form> 
</Section>