<section id="forgotMobile">
    <div class="verify">
        <form action="/forgotSubmit" method="post">
            <h3>Forgot Password</h3>
            <input type="password" name="firstPswd" placeholder="Enter New Password"><br>
            <input type="password" name="confirmPswd" placeholder="Confirm Password "><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>


