<section id="whishlist">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>           
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td><button class="remove"><i class="far fa-times-circle"></i></button></td>
                <td><img src="product-images/{{this.product._id}}a.jpg" alt="" /></td>
                <td>{{this.product.name}}</td>
                <td>{{this.product.price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>